<mat-toolbar>
    <button mat-raised-button [routerLink]="['/']" routerLinkActive="router-link-active"
            color="primary"> Home</button>
</mat-toolbar>

<mat-tab-group style="padding: 20px;">
    <mat-tab label="Bar Chart">
        <div style="display: block; padding-top:20px;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
    </mat-tab>
    <mat-tab label="Pie Chart">
        <div>
            <div>
                <div style=" padding-top:20px;" class="chart ">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                        [legend]="pieChartLegend">
                    </canvas>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>


